body {
    background-color: #343434;
    font-family: 'Sarabun', Georgia, sans-serif;
    color:whitesmoke;
}

a {
  text-decoration: none;
  color: #b23333;
}

h1, h2, h3  {
  margin: 0;
  padding: 10px;
}

#container {
    background-color: #343434;
    width: 1000px;
    margin-left: auto;
    margin-right:auto;
}

#header {
    background-color: #18453b;
    color: white;
    text-align: center;
    padding: 10px;
}

#content {
  padding: 10px;
}

#nav {
  width: 100px;
  float: left;
  padding: 20px;
}

#nav ul {
  list-style-type: none;
  padding: 0;
}


#nav .selected {
  font-weight: bold;
}

#msulogo {
    width: 180px;
}

#codingmeme {
    width: 200px;
}

#main {
  width: 750px;
  float: right;

}

#student-group {
  clear: both;
  margin: 20px;
  border: 20px;
  padding: 10px;
  background-color: #858585;
  color: black;
  text-align: left;
}

#footer {
  clear: both;
  padding: 10px;
  background-color: #585858;
  color: white;
  text-align: right;
}
.schedule-date {
  font-weight: bold;
  color: black;
  text-align: right;
}
.schedule-resources {
  font-weight: lighter;
  color: black;
  text-align: left;
}